
/*COLORES*/
$palette: (
    "color-logo": rgb(30, 96, 183),
    "color-claro": rgb(13, 159, 219),
    "color-oscuro": rgb(13, 30, 48),
    "color-oscurofooter": rgb(0, 11, 31),
    "color-letras": antiquewhite,
);

/*FUENTES*/
$fuente-principal: 'Russo One', sans-serif;
$fuente-secundaria: 'Teko', sans-serif;

/*BREAKPOINTS*/
$break737: 737px;
$break50: 50px;
$break738: 738px;
$break915: 915px;
$break1100: 1100px;
$break916: 916px;
$break1101: 1101px;
$break1450: 1450px;
$break2080: 2080px;
$break1451: 1451px;